<div class="col-md-12">
  <!-- general form elements -->
  <div class="">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-user"></i> &nbsp;&nbsp;&nbsp;{{title}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" novalidate [formGroup]="studentInfo" method="post" (submit)="createStudent()">
   <div class="box-body">
     <div class="col-md-6">
       <label for="Lastname">Lastname</label>
        <div class="input-group">
          <input type="text" class="form-control" id="Lastname" placeholder="Lastname here..." formControlName="lastname" [(ngModel)]="student.lastname">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('lastname').errors && (studentInfo.get('lastname').dirty || studentInfo.get('lastname').touched)"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('lastname').errors && (studentInfo.get('lastname').dirty || studentInfo.get('lastname').touched)" ></i>
            </span>
          <!--<span class="input-group-addon"><i class="fa fa-envelope"></i></span>-->
        </div>
       <label for="Firstname">Firstname</label>
        <div class="input-group">
          <input type="text" class="form-control" id="Firstname" placeholder="Firstname here..." formControlName="firstname" [(ngModel)]="student.firstname">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('firstname').errors && (studentInfo.get('firstname').dirty || studentInfo.get('firstname').touched)"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('firstname').errors && (studentInfo.get('firstname').dirty || studentInfo.get('firstname').touched)" ></i>
            </span>
        </div>
       <label for="level">Current Level</label>
       <div class="input-group">
          <input type="text" class="form-control" id="level" placeholder="Current Level here..." formControlName="level" [(ngModel)]="student.level">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('level').errors && (studentInfo.get('level').dirty || studentInfo.get('level').touched)"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('level').errors && (studentInfo.get('level').dirty || studentInfo.get('level').touched)" ></i>
            </span>
        </div>
       <label for="Department">Department</label>
       <div class="input-group">
          <input type="text" class="form-control" id="Department" placeholder="Student Department here..."  formControlName="department" [(ngModel)]="student.department">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('department').errors && (studentInfo.get('department').dirty || studentInfo.get('department').touched)"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('department').errors && (studentInfo.get('department').dirty || studentInfo.get('department').touched)" ></i>
            </span>
        </div>


      </div>
      <div class="col-md-6">
        <label for="MatricNo">Matric Number</label>
        <div class="input-group">
          <input type="email" class="form-control" id="MatricNo" placeholder="Matric Number here..."  formControlName="matric_no" [(ngModel)]="student.matric_no">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('matric_no').errors && (studentInfo.get('matric_no').dirty || studentInfo.get('matric_no').touched)"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('matric_no').errors && (studentInfo.get('matric_no').dirty || studentInfo.get('matric_no').touched)" ></i>
            </span>
        </div>
        <label for="email">Email Address</label>
        <div class="input-group">
          <input type="email" class="form-control" id="email" placeholder="Email Address here..." formControlName="email" [(ngModel)]="student.email">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('email').errors  && (studentInfo.get('email').dirty || studentInfo.get('email').touched && studentInfo.get('email').hasError('pattern'))"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('email').errors && (studentInfo.get('email').dirty || studentInfo.get('email').touched && !studentInfo.get('email').hasError('pattern'))" ></i>
            </span>
        </div>
        <label for="Course">Course</label>
        <div class="input-group">
          <input type="text" class="form-control" id="Course" placeholder="Student Course here..." formControlName="course" [(ngModel)]="student.course">
          <span class="input-group-addon">
              <i class="fa fa-remove" style="color: red" *ngIf="studentInfo.get('course').errors && (studentInfo.get('course').dirty || studentInfo.get('course').touched)"></i>
              <i class="fa fa-check" style="color: green" *ngIf="!studentInfo.get('course').errors && (studentInfo.get('course').dirty || studentInfo.get('course').touched)" ></i>
            </span>
        </div>
      </div></div>
      <!-- /.box-body -->

      <div class="box-footer"><div style="margin-left: 40%" >
        <button type="submit" class="btn btn-primary" [disabled]="!studentInfo.valid"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ btnText }}</button>
        <button type="reset" class="btn btn-danger"> <i class="fa fa-refresh"></i>&nbsp;&nbsp;Clear</button></div>
      </div>
    </form>
    <!--<p>Student {{student | json}}</p>-->
  </div>
  <!-- /.box -->

</div>
